mixin dots
    .dots
        .cont
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
            .layer
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                .row
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
                    .dot
