.sphere-new {
    width: 280px;
    margin: 40px auto;

    canvas {
        width: 280px;
        height: 280px;
    }

    @include respond-from(md) {
        width: 330px;
        margin-right: 40px;

        canvas {
            width: 330px;
            height: 330px;
        }
    }

    @include respond-from(lg) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 520px;
        margin: 0;

        canvas {
            width: 520px;
            height: 520px;
            margin-top: 180px;
        }
    }
}
