mixin contacts
    .contacts
        .w-center
            .contacts__title Contacts
            p.contacts__text Videoconferencing and media streaming - root technologies for <span class="colored-contacts">Aquatel Inc.</span> Our portfolio includes projects of various sizes: from small premises to large offices. Choosing us, you choose high quality, videoconferencing equipment from leading brands and best in class service, which is already trusted in many countries around the world.
            .contacts__wrap

            .contacts__sides
                .contacts__left
                    .contacts__left-title Contact us
                    ul
                        li
                            img(src="static/img/content/location.svg" alt="location")
                            span 10785 W. Twain Ave.,</br> Suite 229</> Las Vegas, NV 89135, USA

                        li
                            img(src="static/img/content/post.svg" alt="post")
                            span PO Box 80267 Las Vegas,</br> NV 89180-0267, USA

                        li
                            img(src="static/img/content/phone.svg" alt="phone")
                            span +1 702 949 5531
                .contacts__right
                    +form


