.header {
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 999;
    background: $header-bg;
    box-shadow: 0 4px 35px rgba(0, 0, 0, .25);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1780px;
        margin: 0 auto;
        padding: 0 15px;
        z-index: 999;
    }

    &__logo {
        min-height: 100%;

        a {
            display: flex;
            align-items: center;
            height: 80px;
        }
    }

    &__nav {
        position: absolute;
        top: 70px;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        z-index: 99;
        background: $header-bg;
        transform: translateX(-100%);
        transition: all .5s ease-in-out;
    }

    &__nav-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    &__contacts {
        position: absolute;
        right: 0;
        bottom: 15px;
        left: 0;
        font-size: 16px;
        text-align: center;
    }

    &__burger-menu-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 110px;
        height: auto;
        z-index: 5;
        cursor: pointer;
    }

    &__burger-menu {
        width: 30px;

        span {
            position: relative;
            display: block;
            width: 100%;
            height: 2px;
            margin-bottom: 4px;
            border-radius: 5px;
            transition: .3s ease;

            &:first-child {
                background: #2280FC;
            }

            &:nth-child(2) {
                background: #239988;
            }

            &:last-child {
                margin-bottom: 0;
                background: #802DDC;
            }
        }
    }

    &__burger-letter {
        font-size: 30px;
        font-weight: 700;
        color: $header-color;
    }

    &__list {
        @extend %ul-reset;
        padding: 40px 0 0;
        text-align: center;
    }

    &__list-item {
        margin-bottom: 30px;
    }

    &__list-link {
        font-size: 24px;
        color: $header-color;
        text-decoration: none;
        transition: all .35s ease-in-out;

        &:hover {
            color: #2280FC;
        }
    }

    &__navi {
        margin-bottom: 40px;
    }

    @include respond-from(sm) {

        &__logo {
            max-width: 200px;
        }
    }

    @include respond-from(md) {
        &__burger-menu-wrap {
            display: none;
            width: 0;
        }

        &__contacts {
            display: none;
        }

        &__list-item {
            margin: 0;
        }

        &__list-link {
            font-size: 24px;
        }

        &__nav {
            position: unset;
            transform: none;
        }

        &__navi {
            margin: 0;
        }

        &__list {
            display: flex;
            padding: 0;
            gap: 75px;
        }
    }
}

.open {
    .header__nav {
        transform: translateX(0);
    }

    span {

        &:nth-child(1) {
            top: 8px;
            right: -1px;
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            top: -8px;
            width: 100%;
            transform: rotate(-45deg);
        }
    }
}

.is-scroll {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    transition: all .35s ease-in-out;
}

.active {
    color: #2280FC;
}

.header__about-link.active {
    color: #FFD449;
}

.header__about-link:hover {
    color: #FFD449;
}

.header__vendors-link.active {
    color: #239988;
}

.header__vendors-link:hover {
    color: #239988;
}

.header__contacts-link.active {
    color: #802DDC;
}

.header__contacts-link:hover {
    color: #802DDC;
}