mixin banner()
    .banner
        .banner__wrap
            .w-center
                .banner__sides
                    .banner__left
                        h1.banner__title Aquatel Inc
                    .banner__right
                        +sphere