.banner {
    height: 100vh;
    &__wrap {
    }

    &__title {
        font-size: 38px;
        color: #2280FC;
        margin: 40px auto;
        text-align: center;
    }

    &__sides {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    @include respond-from(md) {
        &__wrap {
            height: 100%;
            display: flex;
            align-items: center;
        }

        &__sides {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }

        &__title {
            font-size: 90px;
        }

    }

    @include respond-from(lg) {
        &__wrap {
            display: flex;
            align-items: center;
            padding: 0;

        }

        &__title {
            font-size: 144px;
        }


    }
}