.banner {
    height: 100vh;

    &__title {
        margin: 40px auto;
        font-size: 38px;
        color: #2280FC;
        text-align: center;
        opacity: 0;
    }

    &__sides {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    &.is-animated {
        .banner__title {
            animation: fadeIn .25s linear both;
        }

    }

    @include respond-from(md) {
        &__wrap {
            display: flex;
            align-items: center;
            height: 100%;
        }

        &__sides {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            font-size: 90px;
        }

    }

    @include respond-from(lg) {
        &__wrap {
            display: flex;
            align-items: center;
            padding: 0;

        }

        &__title {
            font-size: 144px;
        }


    }
}