.lines {
    width: 280px;
    margin: 0 auto;

    svg {
        width: 280px;
        height: 180px;
    }

    path {
        vector-effect: non-scaling-stroke;
        stroke-width: 1px;
        stroke: #2280FC;
        fill: none;
    }

    @include respond-from(md) {
        width: 480px;

        svg {
            width: 480px;
            height: 180px;
        }
    }

    @include respond-from(md) {
        width: 640px;

        svg {
            width: 600px;
            height: 420px;
        }
    }
}