body {
    min-height: 100%;
    background-color: $primary-fill;
    font-weight: $font-weight;
    color: $primary-text;
}

html {
    min-height: 100%;
    font-size: $font-size-xs;

    @include respond-from(lg) {
        font-size: $font-size;

    }
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 {
    margin: 0;
    font-size: $font-size-h1;
    font-weight: 500;
    color: $primary-title;

    @include respond-from(sm) {
        font-size: $font-size-h1-sm;
        line-height: $line-height
    }

    @include respond-from(lg) {
        font-size: $font-size-h1-lg;
    }
}

h2 {
    font-size: $font-size-h2;
    color: $primary-title;



    @include respond-from(sm) {
        font-size: $font-size-h2-sm;
    }

    @include respond-from(lg) {
        font-size: $font-size-h2-lg;
    }
}

h3 {
    font-size: $font-size-h3;

    @include respond-from(sm) {
        font-size: $font-size-h3-sm;
    }

    @include respond-from(lg) {
        font-size: $font-size-h3-lg;
    }
}

p {
    line-height: $line-height;
}

.w-center {
    width: 100%;
    max-width: $page-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $page-horizontal-gap;

    @include respond-from(sm-md) {
        padding: 0 $page-horizontal-gap-sm;
    }

    @include respond-from(md-xl) {
        padding: 0 $page-horizontal-gap-md;
    }
}

//gap

.w-gap {
    margin-top: 40px;
}

.w-gap-sm {
    margin-top: 20px;

    @include respond-from(md) {
        margin-top: 25px;
    }
}

.w-gap-md {
    margin-top: 25px;

    @include respond-from(md) {
        margin-top: 30px;
    }
}

.w-gap-lg {
    margin-top: 40px;

    @include respond-from(sm) {
        margin-top: 80px;
    }

    @include respond-from(md) {
        margin-top: 150px;
    }
}

.img-left-text, .img-right-text {

    &__img {
        max-width: 400px;
        margin: 0 auto 20px;
    }

    @include respond-from(sm) {
        &__img {
            margin: 0 auto 60px;
        }
    }

    @include respond-from(md) {
        display: flex;
        align-items: center;

        &__img {
            min-width: 300px;
            margin: 0 40px 0 0;

        }

    }

    @include respond-from(lg) {
        justify-content: space-between;

        &__img {
            max-width: 450px;
            min-width: 450px;
            margin-right: 140px;
        }
    }

}

.txt-wrap {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.fixed-position {
    position: fixed;
    right: 0;
    left: 0;
}

img {
    display: inline-block;
    width: 100%;

    @include support(object-fit, cover) {
        width: 100%;
        object-fit: cover;
    }
}

.colored {
    font-weight: 700;
    color: #2280FC;
}

.colored-contacts {
    font-weight: 700;
    color: #802DDC;
}

.colored-yellow {
    font-weight: 600;
    color: #FFD449 !important;
}

.w-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    ul li {
        margin-bottom: 5px;
    }

    @include respond-from(sm) {
        gap: 1rem 5rem;
    }
}

.btn {
    padding: 9px 50px;
    background: #802DDC;
    border: 1px solid #802DDC;
    border-radius: 5px;
    font-size: 18px !important;
    font-weight: 400;
    color: #fff;
    transition: all .35s ease-in-out;

    &:hover {
        background: #fff;
        color: #802DDC;
    }
}

.msg-wrap {
    position: fixed;
    bottom: 0;
    left: calc(50% - 100px);
    width: 200px;
    height: 64px;
    z-index: 99;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    text-align: center;
    opacity: 0;

    .msg {
        padding: 20px;
        transform: translate(0px, 0px) !important;
    }
}

.site {
    color: #161616;
    transition: all .35s ease-in-out;

    &:hover {
    }
}

//pages styles

.page {
    padding-bottom: 40px ;

    &__title {
        margin: 40px auto;
        font-size: 38px;
        line-height: 1.1;
        color: #2280FC;
        text-align: center;
        opacity: 0;
    }

    &__text, &__left {
        opacity: 0;
    }


    &.is-animated {
        .page__title {
            animation: fadeIn .35s linear both;
        }

        .page__text {
            animation: fadeIn .5s linear both
        }

        .page__left {
            animation: fadeIn .65s linear both
        }
    }

    &__list {
        @extend %ul-reset;

        li {
            position: relative;
            margin-bottom: 4px;

            &:before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                margin: 0 8px 4px 0;
                background: #2280FC;
                border-radius: 50%;
            }
        }
    }

    &__link {
        font-weight: 500;
        color: #2280FC;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__comment {
        font-style: italic;
    }

    &__author {
        font-size: 14px;
        font-weight: bold;
    }

    @include  respond-from(md) {
        &__title {
            margin: 80px 0;
            font-size: 90px;
            text-align: left;
        }

        &__author {
            font-size: 18px;
        }

        &__sides {
            display: flex;
            align-items: center;
        }
    }

    @include respond-from(lg) {
        &__title {
            margin: 20px 0 80px;
            font-size: 144px;
        }
    }
}
