mixin footer()
    footer.footer
        .w-center
            .footer__wrap
                .footer__adress 10785 W. Twain Ave., Suite 229 Las Vegas, NV 89135, USA
                .footer__adress Tel: +1 702 949 5531
