extends _page-template

block content
    | <!-- skin 1 -->
    .header.js-header
        .header__wrapper.js-header-toggle.w-center
            .header__logo
                img(src="static/img/content/logo.svg" alt="logo")
            .header__burger-menu-wrap.js-header-burger
                .header__burger-letter M
                .header__burger-menu
                    span
                    span
                    span
                .header__burger-letter N
                .header__burger-letter U
            nav.header__nav
                .header__nav-wrap
                    .header__navi
                        ul.header__list
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/") Home
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#about") About Us
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#vendors") Vendors
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#contacts") Contacts
    .w-inner
        .w-center
            .w-gap-lg
                h1.banner__image-text-title.colored Albiral
            .w-gap-lg
                p <span class="colored">ALBIRAL Display Solutions</span> – это испанская частная компания, занимающаяся разработкой, производством и распространением решений для плоских дисплеев,</br> предназначенных для широкого спектра профессиональных приложений, таких как вещание, цифровые вывески, диспетчерские, корпоративное телевидение и видеонаблюдение
                p Компания <span class="colored">Albiral</span>, работающая на рынке мониторов с 1996 года, является продолжением бывшей компании Electrònica Albiral, которая занималась разработкой и производством телевизоров и имеет более чем 30-летний опыт работы в области электроники.
            .w-gap-lg
                .txt-wrap
                    .img-left-text
                        .img-left-text__img
                            img(src="static/img/content/321.png" alt="")
                        .img-left-text__wrapper
                            .img-left-text__text-wrap
                                .img-left-text__text Видеоконференция и медиаоборудование – профильные технологии <span class="colored">Aquatel Inc</span>. В нашем портфолио проекты разного масштаба: от небольших помещений до крупных офисов. Выбирая нас, вы выбираете немецкое качество, оборудование для видеоконференций от ведущих брендов и сервис европейского класса, которому уже доверяют в многих странах мира.

            .w-gap-lg
                p Компания использует первоклассные профессиональные компоненты и, благодаря своей структуре, ноу-хау и высококвалифицированной команде, обладает достаточной гибкостью, чтобы предоставлять решения для специальных продуктов, которые могут потребоваться клиентам в очень короткие сроки. Его разносторонняя организация может быстро реагировать на потребности клиентов.
                p Дизайн, инновации, гибкость, креативность, быстрота и преданность клиентам – вот ценности компании.
                p Компания представляет свой новый бренд <span class="colored">Arthur Holm</span>. Это моторизованные мониторы уникального дизайна для таких вариантов применения, где важно одновременное удовлетворение требований эргономики, современных технологий и качества
                p История бренда Arthur <span class="colored">Arthur Holm</span> берет начало от легендарного датского дизайнера по имени Jorgen Alex Jensen, активно работавшего в 1960-х – 70-х годах. Его концептуальные идеи дизайна и эргономики нашли продолжение в разработках его семьи, в том числе и в бренде Arthur Holm, который сочетает в себе традиции скандинавского дизайна и испанской эмоциональности.
                p Профессиональные моторизованные выдвижные мониторы – это решение для тех, кто ставит во главу угла корпоративный имидж и презентабельность. Такие мониторы выглядят стильно, современно и дорого, и, тем самым, привносят в любой интерьер частичку высокого стиля.
            .w-gap-lg
    +footer