extends _page-template

block content
    | <!-- skin 1 -->
    .header.js-header
        .header__wrapper.js-header-toggle.w-center
            .header__logo
                img(src="static/img/content/logo.svg" alt="logo")
            .header__burger-menu-wrap.js-header-burger
                .header__burger-letter M
                .header__burger-menu
                    span
                    span
                    span
                .header__burger-letter N
                .header__burger-letter U
            nav.header__nav
                .header__nav-wrap
                    .header__navi
                        ul.header__list
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/") Home
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#about") About Us
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#vendors") Vendors
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#contacts") Contacts
    .w-inner
        .w-center
            .w-gap-lg
                h1.banner__image-text-title.colored Amc
            .w-gap-lg
                p <span class="colored">AMC Baltic</span> является производителем трансляционных акустических систем, потолочных, рупорных громкоговорителей, усилителей и электроники.
                p Всего за несколько лет своей деятельности <span class="colored">AMC Baltic</span> превратилась в современную и гибкую компанию, которая заняла одну из лидирующих позиций на высококонкурентном международном рынке.
                p В последние годы компания сделала огромный технологический и инновационный шаг, начиная от производства простых потолочных громкоговорителей к сертифицированным громкоговорителей EN54, от микшерных усилителей к высокотехнологичным аудио устройств, от местного поставки к международной сети дистрибьюторов.
                p Сейчас литовская компания <span class="colored">AMC Baltic</span> – сильный международный партнер, отвечающий всем современным требованиям. Продукция компании высоко ценится на мировом рынке, благодаря качеству и надежности продукции. На сегодняшний день компания готова предложить широкий спектр громкоговорителей и электроники.
            .w-gap-lg
                h3 Перечень предлагаемого оборудования:
                .w-list
                    ul
                        li Настенные громкоговорители
                        li Потолочные громкоговорители
                        li Потолочные низкоомные громкоговорители
                        li Рупорные громкоговорители
                        li Сферические громкоговорители
                        li Колонные громкоговорители
                        li Профессиональные громкоговорители
                        li Сабвуферы

                    ul
                        li Инсталляционные усилители
                        li Профессиональные усилители
                        li Музыкальные плееры
                        li Предусилители
                        li Микшерные усилители
                        li Беспроводные микрофоны
                        li Микрофоны
                        li Регуляторы громкости
                        li Звуковые прожекторы
            .w-gap-lg
                p Сегодня продукция <span class="colored">AMC</span> поставляется в 38 стран мира. Данное оборудование используют следующие компании:</br> Honeywell, BLC Turva, Imlight Showtechnic, Starfelt, Karadag Electronics, Norsk Lydteknikk, ABISS, Proeling, Linearic, Digitalemotions, Novar, E-sistemas, Audiologic, Integrate Audio, Eltek, Sisme, SGTC Professional, AVmax, Promedias, Genaudio.
                p Данный бренд можно легко узнать по логотипу <span class="colored">AMC</span> на корпусе громкоговорителей во многих престижных зданиях по всему миру.
            .w-gap-lg
    +footer