extends _page-template

block content
    | <!-- skin 1 -->
    .header.js-header
        .header__wrapper.js-header-toggle.w-center
            .header__logo
                a(href="/")
                    img(src="static/img/content/logo.svg" alt="logo")
            .header__burger-menu-wrap.js-header-burger
                .header__burger-menu
                    span
                    span
                    span
            nav.header__nav
                .header__nav-wrap
                    .header__navi
                        ul.header__list
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/") Home
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#about") About Us
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#vendors") Vendors
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#contacts") Contacts
    .w-inner
        .page.js-animate
            .w-center
                h1.page__title Avaya
                p.page__text <span class="colored">Avaya</span> is a world leader in solutions and services for building corporate communications networks. Avaya's innovative solutions in the field of communications and CRM technologies facilitate interaction between government agencies and citizens, increasing the efficiency of the economy in various sectors, and creating a technological basis for the further development of e-commerce.
                .page__sides
                    .page__left
                        +lines
                    .page__right
                        p.page__text Among the company's offers in the Easetrn European countries markets, excellently proven equipment, fundamental bulding blocks and full scale solutions for multi-service enterprise-wide networks, call centers and CRM.

                p.page__text <span class="colored">Avaya</span> offers solutions for enterprises of all sizes, for various industries, and implements communication projects of any size. The company's clients in Easern Europe are the largest commercial and financial structures, industrial enterprises, multinational corporations, transport and telecommunications companies, as well as hotels and business centers.
                a.page__link(href="https://www.avaya.com/en/" target="_blank") www.avaya.com