extends _page-template

block content
    | <!-- skin 1 -->
    .header.js-header
        .header__wrapper.js-header-toggle.w-center
            .header__logo
                img(src="static/img/content/logo.svg" alt="logo")
            .header__burger-menu-wrap.js-header-burger
                .header__burger-letter M
                .header__burger-menu
                    span
                    span
                    span
                .header__burger-letter N
                .header__burger-letter U
            nav.header__nav
                .header__nav-wrap
                    .header__navi
                        ul.header__list
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/") Home
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#about") About Us
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#vendors") Vendors
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#contacts") Contacts
    .w-inner
        .w-center
            .w-gap-lg
                h1.banner__image-text-title.colored Axtel

            .w-gap-lg
                p Польская компания Axtel является мировым производителем профессиональных гарнитур и коммуникационных решений для контактных центров и корпоративного сегмента. Продукты компании созданы с мыслью о людях и их потребностях, это стремление к тому, чтобы для наших клиентов работа в гарнитурах была комфортной и эффективной.
            .w-gap-lg
                .txt-wrap
                    .img-left-text
                        .img-left-text__img
                            img(src="static/img/content/321.png" alt="")
                        .img-left-text__wrapper
                            .img-left-text__text-wrap
                                .img-left-text__text Современные технологии позволяют постоянно быть на связи, несмотря на то что нас разделяют большие расстояния. От момента создания первых гарнитур компания старается превзойти мировые стандарты качества бизнес-решений. Сделано это для того что бы каждая гарнитура компании Axtel приносила успех и развивала бизнес клиентов.

            .w-gap-lg
                p Качество звука, надежность и максимальное удобство использования – это основные критерии идеально cпроектированной гарнитуры. Такой подход позволяет создавать широкий спектр продукции для корпоративного сегмента и колл-центров, а также завоевывать доверие клиентов во всем мире.
            .w-gap-lg
    +footer