extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        +header

        .w-center.container
            section#main
                +banner
            section#about-us
                +about
            .w-gap-lg
                section#vendors
                    +grid
        .w-gap-lg
            section#contacts
                +contacts

        .msg-wrap
            .msg(onclick="gsapMsg.reverse()")
