extends _page-template

block content
    | <!-- skin 1 -->
    .header.js-header
        .header__wrapper.js-header-toggle.w-center
            .header__logo
                a(href="/")
                    img(src="static/img/content/logo.svg" alt="logo")
            .header__burger-menu-wrap.js-header-burger
                .header__burger-menu
                    span
                    span
                    span
            nav.header__nav
                .header__nav-wrap
                    .header__navi
                        ul.header__list
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/") Home
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#about") About Us
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#vendors") Vendors
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#contacts") Contacts
    .w-inner
        .page.js-animate
            .w-center
                h1.page__title Mitel
                p.page__text When it comes to corporate telephony, unified communications and collaboration (UCC), Mitel is an industry-recognized leader.
                h3 Seamless Communications and Collaboration
                p.page__text With 45 years of industry leadership, we help businesses connect, collaborate and provide better experiences for their customers. <span class="colored">Mitel</span> is trusted by 70 million business users in more than 100 countries.
                h3 What Makes Mitel Different?
                p.page__text Throughout our long history of industry experience, innovation has been core to Mitel’s DNA – allowing us to become experts in evolving to meet your needs and help you do the same for your customers. It’s why we’re the only company that wakes up every day exclusively focused on helping you take your communications from where they are today to where you – and your customers – need and expect them to be.
                .page__sides
                    .page__left
                        +lines
                    .page__right
                        ul.page__list
                            li 4.7 million cloud users worldwide
                            li #1 market leader in total cloud seats worldwide
                            li #1 in private cloud worldwide
                            li #1 in UC market share for Europe

                        ul.page__list
                            li Over $1.3B in revenue
                            li 5 time Gartner Magic Quadrant Leader for UC
                            li Frost & Sullivan 2017 Growth Excellence Leader in UC in North America
                            li Over 1,600 patents & applications

                p.page__comment "As we have been saying for a number of years now, <span class="colored">Mitel</span> has a compelling value proposition in the Unified Communications industry by being able to offer multiple cloud migrations for its customers. This strategy has been successful as evidenced by Mitel’s continued leadership in the combined market of Private and Public Cloud for nearly a decade."
                p.page__author Jeremy Duke, Founder and Chief Analyst , Synergy Research Group.

                a.page__link(href="https://www.mitel.com" target="_blank") www.mitel.com
