extends _page-template

block content
    | <!-- skin 1 -->
    .header.js-header
        .header__wrapper.js-header-toggle.w-center
            .header__logo
                a(href="/")
                    img(src="static/img/content/logo.svg" alt="logo")
            .header__burger-menu-wrap.js-header-burger
                .header__burger-menu
                    span
                    span
                    span
            nav.header__nav
                .header__nav-wrap
                    .header__navi
                        ul.header__list
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/") Home
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#about") About Us
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#vendors") Vendors
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#contacts") Contacts
    .w-inner
        .page.js-animate
            .w-center
                h1.page__title Modul IT
                .page__sides
                    .page__left
                        +lines
                    .page__right
                        p.page__text <span class="colored">Modul IT</span> company makes custom furniture design and manufacturing, provides system design, consults on ergonomic solutions applications and implementations. Modul IT Solutions is a market leading Pro AV import, distribution and logistic service provider with operations in more than 27 countries. We represent and distribute many different brands and products and have a database of over 3000 active customers.
                        p.page__text <span class="colored">Modul IT</span> Solutions’ knowledgeable and professional staff has worked in the Pro AV industry and within the territory for many years. This experience, combined with an established logistics and sales infrastructure and a long list of clients, allows us to offer our partners a unique gateway into the market at the same time as offering customers a broad range of both innovative and established solutions.
                p.page__text From advance Audio systems to groundbreaking video conferencing equipment, Modul IT Solution’s aim is to constantly update its range, always being ahead of the rest, facilitating and supplying the latest developments in Pro AV products.
                a.page__link(href="https://modulit.eu/" target="_blank") www.modulit.eu
