extends _page-template

block content
    | <!-- skin 1 -->
    .header.js-header
        .header__wrapper.js-header-toggle.w-center
            .header__logo
                img(src="static/img/content/logo.svg" alt="logo")
            .header__burger-menu-wrap.js-header-burger
                .header__burger-letter M
                .header__burger-menu
                    span
                    span
                    span
                .header__burger-letter N
                .header__burger-letter U
            nav.header__nav
                .header__nav-wrap
                    .header__navi
                        ul.header__list
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/") Home
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#about") About Us
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#vendors") Vendors
                            li.header__list-item
                                a.header__list-link.js-to-item(href="/#contacts") Contacts
    .w-inner
        .w-center
            .w-gap-lg
                h1.banner__image-text-title.colored Poly

            .w-gap-lg
                p In 1969, we had customers traveling out of town on business. Neil Armstrong and Buzz Aldrin, along with their team at NASA, were on a mission…to the moon. And they took our headsets with them. That was more than 50 years ago, and you should see what we're up to now. From riding with Virgin Hyperloop for its first successful passenger test to standing up your new home office, Poly will help you break new ground.
                p Poly was born from Plantronics and Polycom, and we're still in the business of taking giant leaps for mankind. We create beautifully designed and engineered audio and video products that let you be seen and heard with incredible clarity, wherever you work. Backed by the software, artificial intelligence, analytics and insights to take you far beyond mere connectivity.
                p We call San Jose and Santa Cruz, California home, but we're most definitely citizens of the world, with more than 6,500 people working in 75 global offices. And many times, not in offices at all.
            .w-gap-lg
                .txt-wrap
                    .img-left-text
                        .img-left-text__img
                            img(src="static/img/content/321.png" alt="")
                        .img-left-text__wrapper
                            .img-left-text__text-wrap
                                .img-left-text__text
                                    p COVID-19 has been a critical catalyst to change working habits, and a massive accelerant to the digital transformation already reshaping the working world.
                                    p Work is no longer a place, it's what you do and how you do it.

            .w-gap-lg
                p Poly is a trailblazer in solving the dilemma of work from anywhere  -  creating equity between those in the room and those who aren’t.  Whether in an office setting, a remote hub, or your home office, we’ve got you covered.  Poly outfits your office space and your personal space  - even those in outer space - with the gear you need to look and sound your best.
                p After all, 100% of Fortune 500 companies rely on our products and services, to the tune of $2 billion in annual revenue. That'll definitely get you to the moon and back a few times.
                p So, if you're a free thinker, a can-doer, a "failure-is-not-an-option" kind of company, we should definitely talk. No matter what planet you're from.

                a.site(href="https://www.poly.com/us/en" target="_blank") www.poly.com
            .w-gap-lg
