mixin grid()
    .grid.js-animate
        .grid__wrap
            h1.grid__title Vendors
            .grid__list
                a(href="/poly.html").grid__list-link
                    img(src="static/img/content/poly.svg" alt="poly")
                    .grid__list-text POLY
                a(href="/mitel.html").grid__list-link
                    img(src="static/img/content/mitel.svg" alt="")
                    .grid__list-text MITEL
                a(href="/avaya.html").grid__list-link
                    img(src="static/img/content/avaya.svg" alt="")
                    .grid__list-text AVAYA
                a(href="/audiocodes.html").grid__list-link
                    img(src="static/img/content/audiocodes.svg" alt="")
                    .grid__list-text AUDIOCODES

                a(href="/modulit.html").grid__list-link
                    img(src="static/img/content/modulit.svg" alt="")
                    .grid__list-text MODULIT
                a(href="/ceragon.html").grid__list-link
                    img(src="static/img/content/ceragon.svg" alt="")
                    .grid__list-text CERAGON