.form {
    min-width: 280px;
    transition: right .65s ease-in-out;

    @include respond-from(md) {
        min-width: 390px;
    }

    &__wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__form {
        width: 100%;
    }

    &__group {
        transition: all .5s ease-in-out;

        &:hover,
        &:active,
        &:focus {

        }

    }

    &__control {
        position: relative;
    }

    &__control {
        width: 100%;
        height: 38px;
        margin-bottom: 15px;
        padding-left: 15px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #161616;
        font-size: 16px;
        color: #161616;

        &:hover,
        &:active,
        &:focus,
        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: #161616;
        }
    }

    &__group {
        text-align: left;
    }


}
