mixin about
    .about
        h1.about__title About us
        .about__sides

            .about__left
                +sphere-new
            .about__right
                h1.about__title.about__title-nth About us
                p.about-text <span class="colored-yellow">Aquatel Inc</span> is positioning itself as a Value Added Reseller for the well known international brands: Poly, Avaya, Mitel, Audiocodes, ModulIT, Ceragon.
                p.about-text Having its customer network in Eastern Europe, Baltic's and Transcaucasia States company committed to deliver leading edge telecommunication and audiovisual solutions to its customers.
                p.about-text The product portfolio offered is often used at biggest corporations of Fortune 500 list as well as many state established entities over the world, world wide hotel networks, financial and energy related industries.
                p.about-text Aquatel Inc is a strong international partner, grown in house secure corporate solutions expertise for videconfrencing, VOIP, cabling etc. We do believe communication is building a future of our rapidly changing world.


