.about {

    &__title {
        margin: 40px auto;
        font-size: 38px;
        line-height: 1.1;
        color: #FFD449;
        text-align: center;
        opacity: 0;
    }

    &__text {
        opacity: 0;
    }

    &__left {
        opacity: 0;
    }

    &.is-animated {
        .about__title {
            animation: fadeIn .35s linear both;
        }

        .about__text {
            animation: fadeIn .55s linear both;
        }

        .about__left {
            animation: fadeIn .55s linear both;
        }
    }

    &__title-nth {
        display: none;
    }

    &__sides {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    @include respond-from(md) {
        &__wrap {
            padding: 50px 0;
        }

        &__title {
            display: none;
        }

        &__title-nth {
            display: block;
        }

        &__sides {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__left {
        }

        &__right {
        }

        &__title {
            font-size: 90px;
            text-align: left;
        }
    }

    @include respond-from(lg) {
        &__sides {
            display: flex;
            align-items: flex-start;
            padding: 0;

        }

        &__title {
            margin: 0 0 70px 0;
            font-size: 144px;
        }

        &__right {
            max-width: 950px;
        }


    }
}